DUMPSTER/run2/__init__.py_j4676.log
DUMPSTER/run2/.wpipe/pipe.conf
DUMPSTER/run2/build/__init__.py
DUMPSTER/run2/build/__pycache__/__init__.cpython-36.pyc
DUMPSTER/run2/build/__pycache__/make_target.cpython-36.pyc
DUMPSTER/run2/build/__pycache__/phast_pypiper_task.cpython-36.pyc
DUMPSTER/run2/build/__pycache__/sort1.cpython-36.pyc
DUMPSTER/run2/build/__pycache__/tag_image.cpython-36.pyc
DUMPSTER/run2/config/Unsorted/default.conf
DUMPSTER/run2/data/16799_M31-B33-F06-UVIS/conf_default/default.conf
DUMPSTER/run2/data/16799_M31-B33-F06-UVIS/raw_default/iepu21dbq_flc.fits
DUMPSTER/run2/data/16799_M31-B33-F06-UVIS/raw_default/iepu21ddq_flc.fits
DUMPSTER/run2/data/16799_M31-B33-F06-UVIS/raw_default/iepu21dhq_flc.fits
DUMPSTER/run2/data/16799_M31-B33-F06-UVIS/raw_default/iepu21dlq_flc.fits
DUMPSTER/run2/data/16799_M31-B33-F06-UVIS/raw_default/iepu22dqq_flc.fits
DUMPSTER/run2/data/16799_M31-B33-F06-UVIS/raw_default/iepu22dvq_flc.fits
DUMPSTER/run2/data/16799_M31-B33-F06-UVIS/raw_default/iepu22dzq_flc.fits
DUMPSTER/run2/data/16799_M31-B33-F06-UVIS/raw_default/iepu22e4q_flc.fits
DUMPSTER/run2/input/Unsorted/iepu21dbq_flc.fits
DUMPSTER/run2/input/Unsorted/iepu21ddq_flc.fits
DUMPSTER/run2/input/Unsorted/iepu21dhq_flc.fits
DUMPSTER/run2/input/Unsorted/iepu21dlq_flc.fits
DUMPSTER/run2/input/Unsorted/iepu22dqq_flc.fits
DUMPSTER/run2/input/Unsorted/iepu22dvq_flc.fits
DUMPSTER/run2/input/Unsorted/iepu22dzq_flc.fits
DUMPSTER/run2/input/Unsorted/iepu22e4q_flc.fits
DUMPSTER/run3/__init__.py_j4707.log
DUMPSTER/run3/sort1.py_j4719.log
DUMPSTER/run3/.wpipe/pipe.conf
DUMPSTER/run3/build/__init__.py
DUMPSTER/run3/build/__pycache__/__init__.cpython-36.pyc
DUMPSTER/run3/build/__pycache__/make_target.cpython-36.pyc
DUMPSTER/run3/build/__pycache__/phast_pypiper_task.cpython-36.pyc
DUMPSTER/run3/build/__pycache__/sort1.cpython-36.pyc
DUMPSTER/run3/build/__pycache__/tag_image.cpython-36.pyc
DUMPSTER/run3/config/Unsorted/default.conf
DUMPSTER/run3/data/16799_M31-B33-F06-UVIS/conf_default/default.conf
DUMPSTER/run3/data/16799_M31-B33-F06-UVIS/raw_default/iepu21dbq_flc.fits
DUMPSTER/run3/data/16799_M31-B33-F06-UVIS/raw_default/iepu21ddq_flc.fits
DUMPSTER/run3/data/16799_M31-B33-F06-UVIS/raw_default/iepu21dhq_flc.fits
DUMPSTER/run3/data/16799_M31-B33-F06-UVIS/raw_default/iepu21dlq_flc.fits
DUMPSTER/run3/data/16799_M31-B33-F06-UVIS/raw_default/iepu22dqq_flc.fits
DUMPSTER/run3/data/16799_M31-B33-F06-UVIS/raw_default/iepu22dvq_flc.fits
DUMPSTER/run3/data/16799_M31-B33-F06-UVIS/raw_default/iepu22dzq_flc.fits
DUMPSTER/run3/data/16799_M31-B33-F06-UVIS/raw_default/iepu22e4q_flc.fits
DUMPSTER/run3/input/Unsorted/iepu21dbq_flc.fits
DUMPSTER/run3/input/Unsorted/iepu21ddq_flc.fits
DUMPSTER/run3/input/Unsorted/iepu21dhq_flc.fits
DUMPSTER/run3/input/Unsorted/iepu21dlq_flc.fits
DUMPSTER/run3/input/Unsorted/iepu22dqq_flc.fits
DUMPSTER/run3/input/Unsorted/iepu22dvq_flc.fits
DUMPSTER/run3/input/Unsorted/iepu22dzq_flc.fits
DUMPSTER/run3/input/Unsorted/iepu22e4q_flc.fits
build/temp/rerun_pipeline.sh
build/temp/sort.py
build/temp/sort1.py
build/temp/run_pipeline_here1/data/16799_M31-B33-F06-UVIS/iepu21dbq_flc.fits
build/temp/run_pipeline_here1/data/16799_M31-B33-F06-UVIS/iepu21ddq_flc.fits
build/temp/run_pipeline_here1/data/16799_M31-B33-F06-UVIS/iepu21dhq_flc.fits
build/temp/run_pipeline_here1/data/16799_M31-B33-F06-UVIS/iepu21dlq_flc.fits
build/temp/run_pipeline_here1/input/Unsorted/16799_M31-B33-F06-UVIS/iepu21dbq_flc.fits
build/temp/run_pipeline_here1/input/Unsorted/16799_M31-B33-F06-UVIS/iepu21ddq_flc.fits
build/temp/run_pipeline_here1/input/Unsorted/16799_M31-B33-F06-UVIS/iepu21dhq_flc.fits
build/temp/run_pipeline_here1/input/Unsorted/16799_M31-B33-F06-UVIS/iepu21dlq_flc.fits
build/temp/test_run/__init__.py_j1537.log
build/temp/test_run/sort.py_j1545.log
build/temp/test_run/.wpipe/pipe.conf
build/temp/test_run/build/__init__.py
build/temp/test_run/build/phast_pypiper_task.py
build/temp/test_run/build/sort.py
build/temp/test_run/build/tag_image.py
build/temp/test_run/build/__pycache__/__init__.cpython-37.pyc
build/temp/test_run/build/__pycache__/phast_pypiper_task.cpython-37.pyc
build/temp/test_run/build/__pycache__/sort.cpython-37.pyc
build/temp/test_run/build/__pycache__/tag_image.cpython-37.pyc
build/temp/test_run/config/Unsorted/default.conf
build/temp/test_run/data/16799_M31-B33-F06-UVIS/iepu21dbq_flc.fits
build/temp/test_run/data/16799_M31-B33-F06-UVIS/iepu21ddq_flc.fits
build/temp/test_run/data/16799_M31-B33-F06-UVIS/iepu21dhq_flc.fits
build/temp/test_run/data/16799_M31-B33-F06-UVIS/iepu21dlq_flc.fits
build/temp/test_run/input/Unsorted/iepu21dbq_flc.fits
build/temp/test_run/input/Unsorted/iepu21ddq_flc.fits
build/temp/test_run/input/Unsorted/iepu21dhq_flc.fits
build/temp/test_run/input/Unsorted/iepu21dlq_flc.fits
build/temp/test_run/input/Unsorted/16799_M31-B33-F06-UVIS/iepu21dbq_flc.fits
build/temp/test_run/input/Unsorted/16799_M31-B33-F06-UVIS/iepu21ddq_flc.fits
build/temp/test_run/input/Unsorted/16799_M31-B33-F06-UVIS/iepu21dhq_flc.fits
build/temp/test_run/input/Unsorted/16799_M31-B33-F06-UVIS/iepu21dlq_flc.fits
build/__pycache__/__init__.cpython-37.pyc
build/__pycache__/make_target.cpython-37.pyc
build/__pycache__/phast_pypiper_task.cpython-37.pyc
build/__pycache__/sort.cpython-37.pyc
build/__pycache__/tag_image.cpython-37.pyc
build/EDA.ipynb
input/Unsorted/iepu21dbq_flc.fits
input/Unsorted/iepu21ddq_flc.fits
input/Unsorted/iepu21dhq_flc.fits
input/Unsorted/iepu21dlq_flc.fits
input/Unsorted/iepu22dvq_flc.fits
input/Unsorted/iepu22dzq_flc.fits
input/Unsorted/iepu22e4q_flc.fits
run4/__init__.py_j5584.log
run4/sort.py_j5595.log
run4/tag_image.py_j5609.log
run4/.wpipe/pipe.conf
run4/build/__init__.py
run4/build/make_target.py
run4/build/phast_pypiper_task.py
run4/build/sort.py
run4/build/tag_image.py
run4/build/__pycache__/__init__.cpython-37.pyc
run4/build/__pycache__/make_target.cpython-37.pyc
run4/build/__pycache__/phast_pypiper_task.cpython-37.pyc
run4/build/__pycache__/sort.cpython-37.pyc
run4/build/__pycache__/tag_image.cpython-37.pyc
run4/config/Unsorted/default.conf
run4/data/16799_M31-B33-F06-UVIS/conf_default/default.conf
run4/data/16799_M31-B33-F06-UVIS/raw_default/iepu21dbq_flc.fits
run4/data/16799_M31-B33-F06-UVIS/raw_default/iepu21ddq_flc.fits
run4/data/16799_M31-B33-F06-UVIS/raw_default/iepu21dhq_flc.fits
run4/data/16799_M31-B33-F06-UVIS/raw_default/iepu21dlq_flc.fits
run4/data/16799_M31-B33-F07-UVIS/conf_default/default.conf
run4/data/16799_M31-B33-F07-UVIS/raw_default/iepu22dvq_flc.fits
run4/data/16799_M31-B33-F07-UVIS/raw_default/iepu22dzq_flc.fits
run4/data/16799_M31-B33-F07-UVIS/raw_default/iepu22e4q_flc.fits
run4/input/Unsorted/iepu21dbq_flc.fits
run4/input/Unsorted/iepu21ddq_flc.fits
run4/input/Unsorted/iepu21dhq_flc.fits
run4/input/Unsorted/iepu21dlq_flc.fits
run4/input/Unsorted/iepu22dvq_flc.fits
run4/input/Unsorted/iepu22dzq_flc.fits
run4/input/Unsorted/iepu22e4q_flc.fits
